<div>
  <input [(ngModel)]="searchedText" type="text" id="searchInput" placeholder="Type here the name of searched person"/>
</div>
<div class="container">

  <!-- <div class="card" *ngFor='let user of users | slice:0:numberShown' [ngClass]="{'yellow': user.name.first.toLowerCase().includes(searchedText.toLowerCase()) || user.name.last.toLowerCase().includes(searchedText.toLowerCase()), 'white': searchedText === ''}"> -->
  <div class="card" *ngFor='let user of users' [ngClass]="{'yellow': user.name.first.toLowerCase().concat(user.name.last.toLowerCase()).includes(searchedText.toLowerCase().trim().replace(' ','')) || user.name.last.toLowerCase().concat(user.name.first.toLowerCase()).includes(searchedText.toLowerCase().trim().replace(' ','')), 'white': searchedText === ''}">

    <img class="userImg" [src]="user.picture.medium" alt="Card image cap">
    <div>
      <p class="userName">{{ user.name.first }} {{ user.name.last }}</p>
      <p class="card-text">{{ user.email }}</p>
      <i class="material-icons" *ngIf="user.gender === 'male'">android</i>
      <i class="material-icons" *ngIf="user.gender === 'female'">pregnant_woman</i>

    </div>
  </div>
  <button type="button" name="button" id="button" (click)="addNineUsers()">Show more</button>
</div>
